html {
    font-size: 62.5%;
}

*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.btn {
    cursor: pointer;
}


.container-w {
    width: 66.66%;
    margin: 0 auto;
}

.container-fluid-w {
    width: 100%;
}

.row {
    display: flex;
    margin-left: 0;
    margin-right: 0;
}

/* START SHOW ERROR */
.error {
    color: red;
    display: none;
    margin-bottom: 15px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: left;
}

/* END SHOW ERROR */

/* START HEADER */

.top-bar__menu {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.top-bar__menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-bar__menu a:hover {
    background-color: #ddd;
    color: black;
}

.top-bar__menu a.active {
    background-color: #04AA6D;
    color: white;
}

.top-bar__menu .icon {
    display: none;
}

/* END HEADER */


/* START LOGIN FORM */
.login-form .row {
    flex-direction: column;
}

.login-form__header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px auto;
}

.login-form__header h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}


.login-form .col {
    width: 350px;
    margin: 0 auto;
}

.login-form__content input {
    padding: 15px;
    border: 1px solid #eee;
    color: #333;
    border-radius: 4px;
    margin-bottom: 15px;
    display: block;
    width: 350px;
    transition: border 0.25s linear;
    font-size: 14px;
}

.login-form__content input:focus {
    border-color: rgb(8, 174, 234);
}

.login-form__link {
    display: flex;
    justify-content: space-between;
}

.login-form__link a {
    display: inline-block;
    text-transform: uppercase;
    color: #333;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.btn-sign-in {
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    color: white;
    background-color: #08aeea;
    text-transform: uppercase;
    font-weight: bold;
    outline: none !important;
}

.btn-sign-in:hover {
    background-color: #0797c7;
    color: #d4d1d1;
}

/* END LOGIN FORM*/

/* START SIGN UP*/
.sign-up-form {
    padding-bottom: 50px;
}

.sign-up-form .row {
    flex-direction: column;
}

.sign-up-form__header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px auto;
}

.sign-up-form__header h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.sign-up-form .col {
    background-color: white;
    border-radius: 30px;
    width: 50%;
    margin: 0 auto;
}

.form-control {
    font-family: "Poppins", sans-serif;
}

.form-group {
    margin-bottom: 25px;
}

.form-label {
    display: inline-block;
    cursor: pointer;
    color: #363a40;
    margin-bottom: 15px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-input {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    border: 0;
    outline: none;
    font-family: "Poppins", sans-serif;
    background-color: #f2f3f5;
    color: #363a40;
    font-size: 16px;
}

.form-input::-webkit-input-placeholder {
    color: #b4bdc1;
}

.form-submit {
    display: block;
    margin-top: 45px;
    width: 100%;
    padding: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 15px;
    background-color: #81c91d;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px -5px rgba(129, 201, 29, 0.9);
    outline: none;
}

.sign-up-error {
    color: red;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.signup-already {
    text-align: center;
    color: #363a40;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.signup-already-link {
    color: #4c6ef4;
    text-decoration: none;
}

/* END SIGN UP */


/* START PAGE ERROR*/
.page-error h1 {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 30px auto;
    color: red;
    font-weight: bold;
}

.page-error img {
    margin: 0 auto;

}

/* END PAGE ERROR */

/* START INFORMATION USER */
.user-info .row {
    flex-direction: column;
}

.user-info__header h1 {
    text-align: center;
    margin: 30px auto;
    font-size: 28px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.user-info__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info__content--txt {
    margin-left: 20px;
}

.user-info__content--txt p {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.user-info__content--txt span {
    font-weight: bold;
}

/* END INFORMATION USER */

/* START FORGOT PASSWORD*/
.forgot-password__header .alert {
    width: 370px;
    text-align: center;
}

.forgot-password .row {
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
}

.panel-body h1 {
    font-size: 28px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* END FORGOT PASSWORD */

/* START RESET PASSWORD */
.reset-password .row {
    flex-direction: column;
}

.reset-password .col {
    width: 350px;
    margin: 0 auto;
}

.reset-password__content input {
    padding: 15px;
    border: 1px solid #eee;
    color: #333;
    border-radius: 4px;
    margin-bottom: 15px;
    display: block;
    width: 350px;
    transition: border 0.25s linear;
    font-size: 14px;
}

.reset-password__content input:focus {
    border-color: rgb(8, 174, 234);
}

/* END RESET PASSWORD */

/* START MANAGE USER */
.manage-user .row {
    flex-direction: column;
}

.manage-user__form {
    padding-bottom: 30px;
    max-width: 450px;
    margin: 0 auto;
}

.manage-user__form input[type=text] {
    padding-left: 10px;
    height: 48px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-right: none;
    box-sizing: border-box;
}

.btn-search {
    float: left;
    width: 20%;
    height: 48px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
    border-left: none;
    outline: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-sizing: border-box;
}

.btn-search:hover {
    background: #0b7dda;
}

.manage-user__form::after {
    content: "";
    clear: both;
    display: table;
}

.manage-user .col:nth-of-type(3){
    overflow-x: auto;
}
.divTable.blueTable .divTableBody .divTableCell img{
    display: block;
    margin: 0 auto;
}
div.blueTable {
    border: 0px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}

.divTable.blueTable .divTableBody .divTableCell {
    font-size: 15px;
    font-family: Poppins, sans-serif;
}

.divTable.blueTable .divTableRow:nth-child(even) {
    background: #D0E4F5;
}

.divTable.blueTable .divTableHeading {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}

.divTable.blueTable .divTableHeading .divTableHead {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.divTable.blueTable .divTableHeading .divTableHead:first-child {
    border-left: none;
}

.blueTable .tableFootStyle {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
}

.blueTable .tableFootStyle {
    font-size: 14px;
}

.blueTable .tableFootStyle .links {
    text-align: right;
}

.blueTable .tableFootStyle .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
}

.blueTable.outerTableFooter {
    border-top: none;
}

.blueTable.outerTableFooter .tableFootStyle {
    padding: 3px 5px;
}


.divTable {
    display: table;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell, .divTableHead {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.divTableHeading {
    display: table-header-group;
}

.divTableFoot {
    display: table-footer-group;
}

.divTableBody {
    display: table-row-group;
}

/* END MANAGE USER */

/* START MANAGE PRODUCT */
.manage-product .row{
    flex-direction: column;
}
.manage-product .col:nth-of-type(3){
    overflow-x: auto;
}
.manage-product .divTable.blueTable{
    min-width: 660px;
}
.manage-product__add{
    background-color: #2196F3;
    color: white;
    font-weight: bold;
    display: block;
    line-height: 50px;
    height: 50px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
.manage-product__add:hover{
    background-color: #0b7dda;
    text-decoration: none;
    color:white;
}
/* END MANAGE PRODUCT */

.section-product .row {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 80px -10px;
    align-items: stretch;
}

.section-product .col {
    margin: 0 10px;
    width: calc(33.33% - 20px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.section-product .col:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.section-product .row .col:last-of-type {
    margin-left: 10px;
}

.cart-content {
    padding: 2px 16px;
}

.card img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    text-align: center;
}

.card p {
    width: 130px;
    height: 30px;
    text-align: center;
    background-color: #CB1C22;
    color: white;
    border-radius: 40px;
    line-height: 30px;
}

.blueTable .tableFootStyle .links a.page-active {
    background: tomato;
}